  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">


    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Amirdrassil
          </a>

          <ul class="dropdown-menu">
            
            <li class=""><b>General:</b></li>
            <li><a class="dropdown-item" href="/amirdrassil_loot">Loot iLvls</a></li>
            <li><a class="dropdown-item" href="/amirdrassil">Amirdrassil - General</a></li>



            <li><hr class="dropdown-divider"></li>
              
            <li><a class="dropdown-item" href="{{boss.url}}">{{ boss.title }}</a></li>

            <li class=""><b>Guides:</b></li>
              {% for boss in site.amirdrassil %}
                <li><a class="dropdown-item" href="{{boss.url}}">{{ boss.title }}</a></li>
              {% endfor %}
            <li><hr class="dropdown-divider"></li>
         
            <li class=""><b>WeakAuras:</b></li>
            <li><a class="dropdown-item" href="/amir_wa">HoH Raider Weak Aura Pack</a></li>
         
          </ul>

            
        </li>

      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <a class="btn btn-outline-primary" href="/roster">Roster/Schedule/Signup/Apply</a>
      </ul>


    </div>
  </div>
</nav>
