.copy-code-button {
  display: block;
}

/**
 * Images
 */
img {
  height: 256px;
  width: auto;
  display:block;
  padding-left:25%;
  padding-right:auto;

}

.icon {
  vertical-align:bottom;
  height: 32px;
  width:auto;
  display:inline;
  float:inline;
  padding-left: 0;
}

#home_discord{
  height: 32px;
  width:auto;
  display:inline;
  padding-left: 1%;
  vertical-align: middle;
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

.comments {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Code formatting
 */
pre,

code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
  word-wrap: break-word;
}

pre {
  text-wrap: wrap;
  padding: 8px 12px;
  overflow-x: auto;
  overflow-y: auto;
  height: 50vh;

   > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    word-wrap: break-word;
  }
}




/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
