<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
<script type="text/javascript" src="//static-azeroth.cursecdn.com/current/js/syndication/tt.js"></script>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
    </main>

    {%- include footer.html -%}

  </body>

</html>
